* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: row;
    max-width: 100% !important;
}

.App {
    display: flex;
    position: relative;
    max-width: 100% !important;
}

.main-container {
    display: flex;
    position: relative;
}

.main-canvas {
    position: fixed;
    width: 1920px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
